.card {
    box-shadow: #1d2d8d4a 2px 4px 15px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    transition: all ease-in 0.1s;
    margin: 10px 0;
  }
  
  .card:hover {
    transform: rotate(-5deg);
  }
  
  .card img {
    border-radius: 10px;
  }
  
  .card p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #1f2c76;
    text-align: center;
    margin: 10px 0 5px;
  }
  